{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="m-3">
        <form method="POST" action="{% url 'create_event' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit" class="create-btn">Create an Event</button>
        </form>
    </div> 
</div>

{% endblock %}