{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center flex-column mb-3 mt-3">
    <form method="POST" action="{% url 'edit_event' event.id %}" class="form post-con w-100 mb-2" enctype="multipart/form-data">
        <h1 class="d-block text-center title">Edit an event</h1>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="create-btn">Post</button>
        </div>
    </form>
</div>

{% endblock %}