{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block content %}

{% for event in events %}

<div class="container mt-2">
    <a href="{% url 'events' %}" class="back-link"><i class="fa-solid fa-angle-left arrow"></i>Back</a>
</div>

<div class="container view-post mb-3">
    <!-- Event -->
    <div class="post-con">
        <h1 class="fs-4 text-center">{{event.title}}</h1>
        <span class="sm-txt d-block text-center">Created By: <strong>{{event.user}}</strong> on
            {{event.date}}</span>
        {% if event.image.url is not none %}
        <div class="d-block w-100 text-center">
            <img class="post-img" src="{{event.image.url}}">
        </div>
        {% endif %}

        <p>{{event.body|safe}}</p>   
    </div>
    <hr>
    {% if user.is_authenticated %}
    <form action="{% url 'going_event' event.id %}" method="POST">
        {% csrf_token %}

        {% if going_event %}
        <strong><i class="fa-solid fa-thumbs-up"></i></strong>
        <button type="submit" name="event_id" value="{{event.id}}" class="btn btn-info">Not Going</button>
        {% else %}
        <strong><i class="fa-regular fa-thumbs-up"></i></strong>
        <button type="submit" name="event_id" value="{{event.id}}" class="btn btn-info">Going</button>
        {% endif %}
    </form>
    <strong class="text-secondary">{{ number_of_going }} Going{{ number_of_going|pluralize }}</strong>

    {% else %}
    <a class="btn btn-outline-info" href="{% url 'account_login' %}">Log in to use the going to the event button!</a><br>
    {% endif %}
{% endfor %}

</div>
{% endblock %}