{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<section class="main-header">
    <div class="main-titles">
        <h1>DBAA</h1>
        <h2 class="title-cta">The Best LGBTQ+ Live Events</h2>
    </div>
</section>

<section class="welcome">
    <div class="welcome-text">
        <h2 class="welcome-title">Welcome to DBAA</h2>
        <p class="welcome-queens"><strong>Well Hey There Good Looking!</strong></p>
        <p>
        Welcome to DBAA! This is a shared community forum for anyone interested in LGBTQIA+ events and spilling the tea.<br>
        There is only one rule here - <strong>Don't be an a**hole.</strong> This is a supportive and welcoming community, so lets keep it fabulous.<br>
        On our site you can see the latest events across the UK and internationally. Make sure you register so you can post your own local events! You can also start a discussion with other members on our community forum. You betta NetWerk!<br>
        Love is love, so don't forget to share some with our team on the social media links at the bottom of the page! Yass queen!</p>
    </div>
    <div class="welcome-image">
        <img src="{% static '/images/welcome-image.jpg' %}" alt="Photo of a diverse group of people smiling at the camera with pride face paint and costumes.">
    </div>
</section>

<div class="section-divider"></div>

<section class="featured-event">
    <div class="featured-event-title-div">
        <h2 class="featured-event-title">Featured Event</h2>
    </div>
    {% for feature in featured %}
    <div class="featured-event-image d-flex justify-content-center">
        {% if feature.image.url is not none %}
        <img src="{{feature.image.url}}" alt="Offical poster for Madonna fan party with a headshot of Madonna with glasses" class="featured-event-img">
        {% else %}
        <img src="{% static '/images/default.png' %}" alt="Rainbow heart, default event image" class="default-featured-event-img">
        {% endif %}
    </div>
    
    <div class="featured-event-info">
        <h3 class="featured-event-info-title">{{feature.title}}</h3>
        <div class="featured-event-details">
            <p class="featured-event-date"><i class="fa-solid fa-calendar-day"></i> {{feature.e_time.date}}</p>
            <p class="featured-event-time"><i class="fa-solid fa-clock" id="featured-fa-time"></i> {{feature.e_time.time}}</p>
            <div class="featured-event-location-div">
                <i class="fa-solid fa-location-dot" id="featured-fa-location"></i><p class="featured-event-location"> {{feature.location}}</p>
            </div>
            <p class="featured-event-price"><i class="fa-solid fa-money-bill" id="featured-fa-money"></i> £{{feature.fee}}</p>
            <p>{{feature.body|safe}}</p>
            <div class="featured-event-details-button-div">
                <a href="{% url 'view_event' feature.id %}"><button class="featured-events-more-details-button border-0 p-2 shadow">More Details</button></a>
            </div>
        </div>
        
    </div>
    {% endfor %}
</section>

<div class="section-divider"></div>

<section class="upcoming-events">
    <div class="upcoming-events-title">
        <h2>Upcoming Events</h2>
    </div>
    <div class="upcoming-events-listings">
        {% for event in next_events %}
        <div class="upcoming-events-listing">
            {% if event.image.url is not none %}
            <div class="upcoming-event-image-div"><img src="{{event.image.url}}" alt="Event image" class="upcoming-event-image"></div>
            {% else %}
            <div class="upcoming-event-image-div"><img src="{% static '/images/default.png' %}" alt="Rainbow heart, default event image" class="default-event-img"></div>
            {% endif %}
            <h3 class="upcoming-events-listing-title">{{event.title}}</h3>
            <div class="upcoming-event-details-div">
                <p class="upcoming-event-date"><i class="fa-solid fa-calendar-day"></i> {{event.e_time.date}}</p>
                <p class="upcoming-event-time"><i class="fa-solid fa-clock"></i> {{event.e_time.time}}</p>
                <p class="upcoming-event-location"><i class="fa-solid fa-location-dot"></i> {{event.location}}</p>
                <p class="upcoming-event-price"><i class="fa-solid fa-money-bill"></i> £{{event.fee}}</p>
                <div class="details-button-div">
                    <a href="{% url 'view_event' event.id %}"><button class="upcoming-events-more-details-button border-0 p-2 shadow">More Details</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="upcoming-events-button">
        <a href="{% url 'events' %}"><button class="view-all-button">View All</button></a>
    </div>
</section>

{% endblock %}