{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<section class="main-header">
    <div class="main-titles">
        <h1>Ikonic Events</h1>
        <h2 class="title-cta">The Best LGBTQ+ Live Events</h2>
    </div>
</section>

<section class="welcome">
    <div class="welcome-text">
        <h2 class="welcome-title">Welcome to Ikonic Events</h2>
        <p class="welcome-queens"><strong>Well Hey There Queens!</strong></p>
        <p>
        Welcome to Ikonic Events! This is a shared community forum for anyone interested in LGBTQIA+ events and spilling the tea.<br>
        There is only one rule here - Don't be an <strong>a**hole.</strong> This is a supportive and welcoming community, so lets keep it fabulous.<br>
        On our site you can see the latest events across the UK and internationally. Make sure you register so you can post your own local events! You can also start a discussion with other members on our community forum. You betta NetWerk!<br>
        Love is love, so don't forget to share some with our team on the social media links at the bottom of the page! Yass queen!</p>
    </div>
    <div class="welcome-image">
        <img src="{% static '/images/welcome-image.jpg' %}" alt="Photo of a diverse group of people smiling at the camera with pride face paint and costumes.">
    </div>
</section>

<div class="section-divider"></div>

<section class="featured-event">
    <div class="featured-event-image">
        <img src="{% static '/images/ministry-of-pride.jpeg' %}" alt="Offical poster for ministry of pride with acts list and neon colours." class="ministry-of-pride-image">
    </div>
    <div class="featured-event-info">
        <h2 class="event-title">Featured Event</h2>
        <h3>Ministry of Pride Day</h3>
        <div class="featured-event-details">
            <div class="featured-event-details-row-1">
                <p class="featured-event-date"><i class="fa-solid fa-calendar-day"></i> Saturday 2nd July 2022</p>
                <p class="featured-event-time"><i class="fa-solid fa-clock" id="featured-fa-time"></i> 2pm - 10pm</p>
            </div>
            <div class="featured-event-details-row-2">
                <p class="featured-event-location"><i class="fa-solid fa-location-dot" id="featured-fa-location"></i> Ministry of Sound, 103 Gaunt St, London</p>
                <p class="featured-event-price"><i class="fa-solid fa-money-bill" id="featured-fa-money"></i> £15 - £50</p>
            </div>
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</section>

<div class="section-divider"></div>

<section class="upcoming-events">
    <div class="upcoming-events-title">
        <h2>Upcoming Events</h2>
    </div>
    <div class="upcoming-events-listings">
        {% for event in next_events %}
        <div class="upcoming-events-row-1">
            <p>{{event.title}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="upcoming-events-button">
        <a href="#"><button>View All</button></a>
    </div>
</section>

{% for feat in featured %}
    {{feat.title}}
{% endfor %}

{% endblock %}