/* Home Page */

/* Header */

.main-header {
    width: 100%;
    height: 600px;
    background-image: url(/static/home/images/ikonic-hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.main-titles {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 100px;
}

.main-titles > h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Welcome */

.welcome {
    height: 550px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-text {
    width: 40%;
}

.welcome-text > h2 {
    margin-bottom: 40px;
    text-align: center;
}

.welcome-title {
    font-size: 1.7rem;
}

/* Section Divider */

.section-divider {
    height: 5px;
    width: 100%;
    background: linear-gradient(110deg, rgba(255, 0, 24), rgba(255, 165, 44), rgba(255, 255, 65), rgba(0, 128, 24), rgba(0, 0, 249), rgba(134, 0, 125));
}

/* Featured Event */

.featured-event {
    height: 550px;
    width: 100%;
    background-color: rgb(255, 249, 254);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ministry-of-pride-image {
    width: 300px;
}

.featured-event-info {
    width: 50%;
    height: 400px;
    text-align: center;
}

.featured-event-info > h3 {
    padding-bottom: 20px;
    padding-top: 15px;
    font-weight: 300;
}

.featured-event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-event-details-row-1, .featured-event-details-row-2 {
    display: flex;
    width: 70%;
    align-items: center;
}

.featured-event-details-row-1 > p > i, .featured-event-details-row-2 > p > i {
    font-size: 1.3rem;
    padding-right: 8px;
    color: #FFA52C;
    vertical-align: middle;
}

.featured-event-time {
    margin-left: 170px;
}

.featured-event-price {
    margin-left: 57px;
}

/* Upcoming Events */

.upcoming-events {
    height: 800px;
    background-color: white;
}

/* Responsiveness */

@media screen and (max-width: 1120px) {

  .welcome {
    height: 600px;
  }

}

@media screen and (max-width: 1050px) {

    .welcome-image > img {
      width: 450px;
    }
  
  }

@media screen and (max-width: 950px) {

    .welcome-image > img {
      width: 400px;
    }
  
  }

@media screen and (max-width: 880px) {

    .welcome-image > img {
      width: 350px;
    }
  
  }  


/* MOBILE/TABLET */

@media screen and (max-width: 803px) {

    .main-header {
        height: 500px;
    }

    .welcome {
        flex-direction: column;
        height: 820px;
    }

    .welcome-text {
        width: 80%;
    }

    .welcome-image {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .welcome-image > img {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {

    .main-header {
        height: 400px;
    }
}

@media screen and (max-width: 550px) {

    .main-titles {
        margin-left: 50px;
    }

    .welcome-image {
        width: 80%;
    }

}

@media screen and (max-width: 465px) {

    .main-titles {
        margin-left: 40px;
    }

    .main-header {
        height: 300px
    }

    h1 {
        font-size: 1.7rem;
    }

    .title-cta {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 400px) {

    .main-titles {
        margin-left: 20px;
    }

    .welcome {
        height: 900px;
    }

    .welcome-image {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {

    .main-header {
        height: 250px;
    }
}

@media screen and (max-width: 332px) {

    .title-cta {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 320px) {

    .main-titles {
        margin-left: 10px;
    }

    .welcome {
        height: 950px;
    }
}


