/* Home Page */

/* Header */

.main-header {
    width: 100%;
    height: 600px;
    background-image: url(/static/home/images/ikonic-hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.main-titles {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 100px;
}

.main-titles > h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 3rem;
}

/* Welcome */

.welcome {
    height: 550px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-text {
    width: 40%;
}

.welcome-text > h2 {
    margin-bottom: 40px;
    text-align: center;
}

.welcome-title {
    font-size: 1.7rem;
}

/* Section Divider */

.section-divider {
    height: 5px;
    width: 100%;
    background: linear-gradient(110deg, rgba(255, 0, 24), rgba(255, 165, 44), rgba(255, 255, 65), rgba(0, 128, 24), rgba(0, 0, 249), rgba(134, 0, 125));
}

/* Featured Event */

.featured-event {
    height: 850px;
    width: 100%;
    background: linear-gradient(0.25turn, #bf8425, #ebf8e1, #9c3cf6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.featured-event-title-div {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-event-img, .featured-event-image {
    width: 600px;
}

.featured-event-info {
    width: 600px;
    height: 400px;
    padding: 5px 20px;
    border: black 1px solid;
    background-color: white;
}

.featured-event-info > h3 {
    padding-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

.featured-event-details {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.featured-event-date, .featured-event-time, .featured-event-location, .featured-event-price {
    width: 50%;
    font-size: 1.1rem;
}

.featured-event-details > p > i, .featured-event-details > p > i {
    font-size: 1.5rem;
    padding-right: 8px;
    color: #FFA52C;
    vertical-align: middle;
}

.featured-event-location-div {
    display: flex;
    width: 50%;
}

.featured-event-location {
    width: 80%;
}

#featured-fa-location {
    font-size: 1.5rem;
    padding-right: 8px;
    color: #FFA52C;
    vertical-align: middle;
}

.featured-event-details-button-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.featured-events-more-details-button {
    background:#fb940d;
    border: black 1px solid;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    color: white;
    font-size: 1.2rem;
}

.featured-events-more-details-button:hover {
    background-color: rgb(185, 40, 176);
    color: white;
}

/* Upcoming Events */

.upcoming-events {
    height: 1300px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(255, 255, 255)), url(/static/home/images/brick-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upcoming-events-title {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}

.upcoming-events-title {
    color: white;
}

.upcoming-event-image-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
}

.upcoming-events-listing-title {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.upcoming-events-listings {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.upcoming-events-listing {
    width: 400px;
    height: 480px;
    border: black 1px solid;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.828);
    transition: box-shadow 0.5s;
}

.upcoming-events-listing:hover {
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.627);
}

.upcoming-event-details-div {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
}

.upcoming-event-details-div > p > i {
    font-size: 1.2rem;
    vertical-align:auto;
    margin-right: 10px;
}

.upcoming-event-details-div > p {
    margin-left: 30px;
}

.upcoming-event-location {
    display: flex;
    align-items:center;
    justify-content:flex-start;
}

.details-button-div {
    display: flex;
    justify-content: end;
}

.upcoming-events-more-details-button {
    background:#fb940d;
    border: black 1px solid;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    color: white;
}

.upcoming-events-more-details-button:hover {
    background-color: rgb(185, 40, 176);
    color: white;
}

.fa-calendar-day {
    color: #b166ac;
}

.fa-clock {
    color: #b166ac;
}

.fa-location-dot {
    color: #b166ac;
    padding-right: 8px;
}

.fa-money-bill {
    color: #b166ac;
}

.view-all-button {
    background-color: #fb940d;
    border: black 1px solid;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    color: white;
    padding: 8px;
}

.view-all-button:hover {
    background-color: rgb(185, 40, 176);
}

.upcoming-events-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Responsiveness */

@media screen and (max-width: 1214px) {

    .upcoming-events {
        height: 1800px;
    }
  
  }

@media screen and (max-width: 1120px) {

  .welcome {
    height: 600px;
  }

}

@media screen and (max-width: 1050px) {

    .welcome-image > img {
      width: 450px;
    }
  
  }

@media screen and (max-width: 950px) {

    .welcome-image > img {
      width: 400px;
    }
  
  }

@media screen and (max-width: 880px) {

    .welcome-image > img {
      width: 350px;
    }
  
  }  

@media screen and (max-width: 814px) {

    .upcoming-events {
        height: 3340px;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(255, 255, 255)), url(/static/home/images/brick-background.jpg);
    }

    .upcoming-events-listings {
        align-content: center;
    }
  
  }    


/* MOBILE/TABLET */

@media screen and (max-width: 803px) {

    .main-header {
        height: 500px;
    }

    .welcome {
        flex-direction: column;
        height: 820px;
    }

    .welcome-text {
        width: 80%;
    }

    .welcome-image {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .welcome-image > img {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {

    .main-header {
        height: 400px;
    }
}

@media screen and (max-width: 635px) {

    .featured-event {
        height: 850px;
    }

    .featured-event-image {
        width: 90%;
    }

    .featured-event-img {
        width: 100%;
    }

    .featured-event-info {
        width: 90%;
    }

}

@media screen and (max-width: 550px) {

    .main-titles {
        margin-left: 50px;
    }

    .welcome-image {
        width: 80%;
    }

}

@media screen and (max-width: 465px) {

    .main-titles {
        margin-left: 40px;
    }

    .main-header {
        height: 300px
    }

    h1 {
        font-size: 1.7rem;
    }

    .title-cta {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 445px) {

    .featured-event-info {
        height: 450px;
    }

}

@media screen and (max-width: 435px) {

    .upcoming-events-listing {
        width: 90%;
        height: 500px;
    }

    .upcoming-events {
        height: 3450px;
    }

    .upcoming-event-details-div {
        height: 250px;
    }

}

@media screen and (max-width: 400px) {

    .main-titles {
        margin-left: 20px;
    }

    .welcome {
        height: 900px;
    }

    .welcome-image {
        width: 90%;
    }

    .upcoming-events-listing {
        height: 530px;
    }

    .upcoming-events {
        height: 3640px;
    }

    .featured-event-date, .featured-event-time, .featured-event-location, .featured-event-price, .featured-event-location-div {
        width: 100%;
    }


}

@media screen and (max-width: 374px) {

   .upcoming-events-listing {
    height: 530px;
   }

   .featured-event-info {
    height: 500px;
   }

}

@media screen and (max-width: 350px) {

    .main-header {
        height: 250px;
    }
}

@media screen and (max-width: 332px) {

    .title-cta {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 320px) {

    .main-titles {
        margin-left: 10px;
    }

    .welcome {
        height: 950px;
    }
}

@media screen and (max-width: 313px) {

   .featured-event-info {
    height: 550px;
   }

}


