{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center my-3">
        <h1>My Profile</h1>
    </div>
    <div class="row">
        <div class="col-4 border border-1">
            {% include 'profiles/includes/profile_card.html'%}
        </div>
        <div class="col-8 border border-1">
            <div class="card m-3 border-0">
                <div class="card-body">
                    <div class="card-title fw-bolder text-center h5 mb-3"><i class="fa-solid fa-image me-2"></i></i>Edit Details</div>
                    <div class="row">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}