{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center my-3">
        <h1>My Profile</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 border border-1">
            {% include 'profiles/includes/profile_card.html'%}
        </div>
        <div class="col border border-1">
            <div class="card m-3 border-0">
                <div class="card-body">
                    <div class="card-title fw-bolder text-center h5 mb-3">
                        <i class="fa-solid fa-address-card me-2"></i>
                        Personal details
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-label mb-2 d-none d-label">Username</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text input-width">Username</span>
                        <span aria-label="First name" class="form-control">{{ user_profile.user.username }}</span>
                    </div>
                    <div class="form-label mb-2 d-none d-label">First name</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text input-width">First name</span>
                        <span aria-label="First name" class="form-control">{{ user_profile.user.first_name }}</span>
                    </div>
                    <div class="form-label mb-2 d-none d-label">Last name</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text input-width">Last name</span>
                        <span aria-label="First name" class="form-control">{{ user_profile.user.last_name }}</span>
                    </div>
                    <div class="form-label mb-2 d-none d-label">Last name</div>
                    <div class="input-group mb-3">
                        <span class="input-group-text input-width">Email</span>
                        <span aria-label="First name" class="form-control">{{ user_profile.user.email }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}