{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center my-3">
        {% if user_profile_str == user_str %}
        <h1>My Profile</h1>
        {% else %}
        <h1>{{ user }}</h1>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 border border-1">
            {% include 'profiles/includes/profile_card.html'%}
        </div>
        <div class="col border border-1">
            <div class="card m-3 border-0">
                <div class="card-body">
                    {% include 'profiles/includes/profile_friends.html' %}
                </div>
            </div>
        </div>
        <div>
        {% for event in events %}
            {{event.event.title}}
            <a href="{% url 'view_event' event.event.pk %}">Event</a>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}