main {
  background-color: whitesmoke;
}

.main-avatar-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.following-avatar-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.input-width {
  width: 25%
}

.event-image {
  height: 15rem;
  width: 100%;
}

.card-body.events {
  min-height: 15rem !important;
}

.purple {
  color: #86007D !important;
}

div.card {
  border: 1px solid #bf9b9b;
}

.white-bg {
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .main-avatar-image {
    height: 8rem;
    width: 8rem;
  }
  
  .input-width {
    width: 35%;
  }
}

@media only screen and (max-width: 586px) {
  .main-avatar-image {
    height: 10rem;
    width: 10rem;

  }
}


@media only screen and (max-width: 510px) {
  .input-width {
    width: 30%;
    display: none !important;
  }
  .d-label {
    display: block !important;
  }
}