.main-avatar-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.card-width {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  .card-width {
    max-width: 49%;
  }
}