/* Font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@100;300;400;500&display=swap');

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

footer {
    flex-shrink: 0;
  }

/* Main Navigation */

.main-nav {
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

.ikonic-logo {
    width: 134px;
    margin-left: 15px;
}

.nav-title {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 1.7rem;
}

.nav-div-left {
    display: flex;
    align-items: center;
}

.main-nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    list-style: none;
    height: 70px;
}

.main-nav-links > li > a {
    color: rgb(59, 59, 59);
    transition: color 0.5s; 
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav-social-icons {
    font-size: 1.4rem;
    transition: color 0.5s;
}

.facebook-icon {
    color: #1877f2;
}

.facebook-icon:hover {
    color: #3b5998;
}

.instagram-icon {
    color: #c32aa3;
}

.instagram-icon:hover {
    color: #7232bd;
}

.twitter-icon {
    color: #1da1f2;
}

.twitter-icon:hover {
    color: #0276be;
}

#nav-link-home:hover {
    color: #FF0018;
}

#nav-link-events:hover {
    color: #FFA52C;
}

#nav-link-discussions:hover {
    color: #008018;
}

#nav-link-register:hover {
    color: #0000F9;
}

#nav-link-log-in:hover {
    color: #86007D;
}

#mobile-nav {
    display: none;
}

/* Footer */

.footer-socials-div {
    background: linear-gradient(110deg, rgba(255, 0, 24), rgba(255, 165, 44), rgba(255, 255, 65), rgba(0, 128, 24), rgba(0, 0, 249), rgba(134, 0, 125));
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-social-icons {
    font-size: 1.8rem;
    color: white;
    transition: color 0.5s;
}
.footer-facebook-icon:hover {
    color: #1877f2;
}

.footer-instagram-icon:hover {
    color: #c32aa3;
}

.footer-twitter-icon:hover {
    color: #FFA52C;
}

/* Bootstrap toast */
.toasts {
    position: fixed;
    top: 69px;
    right: 0px;
    z-index: 99999999999;
    width: 300px;
}

.toast-body {
    font-size: 1rem;
}

/* Responsiveness */

@media screen and (max-width: 1200px) {

    .main-nav-links {
        width: 700px;
    }

}

@media screen and (max-width: 1020px) {

    .nav-title {
        font-size: 1.6rem;
    }

    .main-nav-links {
        width: 650px;
    }

    .main-nav-social-list {
        display: none;
    }

    .main-nav-links > li > a {
        font-size: 1rem;
    }

}

@media screen and (max-width: 965px) {

    .nav-link {
        padding: 0;
    }

    .nav-title {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 935px) {

    .nav-link {
        font-size: 1rem;
    }

    .main-nav-links {
        width: 600px;
    }

    .nav-title {
        font-size: 1.4rem;
    }
    
    .nav-social-icons {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 873px) {

    .main-nav-links {
        width: 530px;
    }

}

@media screen and (max-width: 803px) {

    .main-nav {
        display: none;
    }

    #mobile-nav {
        height: 70px;
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        background-color: white;
    }

    .mobile-nav-links {
        position: fixed;
        margin-top: 59px;
        background: linear-gradient(120deg, rgb(255, 165, 44) 60%, rgb(255, 255, 65) 60%);
        width: 100%;
        height: 170px;
        overflow: hidden;
        list-style: none;
        display: none;
    }

    .mobile-nav-link {
        text-decoration: none;
        color:white;
        font-weight: 700;
    }

    #mobile-menu {
        display: none;
    }

    #mobile-menu:checked ~ #mobile-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mobile-nav-div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-div-left {
        display: flex;
        align-items: center;
    }

    .fa-bars {
        font-size: 1.3rem;
        padding-right: 15px;
    }

    .menu-icon-2 {
        display: none;
    }

    .nav-title {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 300px) {

    .nav-title {
        font-size: 1.2rem;
    }

}
