/* Font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@100;300;400;500&display=swap');

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

footer {
    flex-shrink: 0;
  }

/* Generic Classes */
.sm-txt > a, .sm-txt {
    font-size: 10px;
}

.arrow {
    padding-right: 5px;
}

.back-link {
    text-decoration: none;
    color: black;
}

.title-anchor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sub-title {
    font-size: 12px;
}

.title-anchor:hover {
    color: #700092;
    font-weight: 500;
}

/* Button Style */

.create-btn {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .create-btn:before,
  .create-btn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .create-btn:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .create-btn:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .create-btn:hover:before {
    width: 115%;
    height: 115%;
  }

/* Main Navigation */

.main-nav {
    height: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

.ikonic-logo {
    width: 134px;
    margin-left: 15px;
}

.nav-title {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 1.7rem;
}

.nav-div-left {
    display: flex;
    align-items: center;
}

.main-nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    list-style: none;
    height: 70px;
}

.main-nav-links > li > a {
    color: rgb(59, 59, 59);
    transition: color 0.5s; 
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav-social-icons {
    font-size: 1.4rem;
    transition: color 0.5s;
}

.facebook-icon {
    color: #1877f2;
}

.facebook-icon:hover {
    color: #3b5998;
}

.instagram-icon {
    color: #c32aa3;
}

.instagram-icon:hover {
    color: #7232bd;
}

.twitter-icon {
    color: #1da1f2;
}

.twitter-icon:hover {
    color: #0276be;
}

#nav-link-home:hover {
    color: #FF0018;
}

#nav-link-events:hover {
    color: #FFA52C;
}

#nav-link-discussions:hover {
    color: #008018;
}

#nav-link-register:hover {
    color: #0000F9;
}

#nav-link-log-in:hover {
    color: #86007D;
}

#mobile-nav {
    display: none;
}

/* Footer */

.footer-socials-div {
    background: linear-gradient(110deg, rgba(255, 0, 24), rgba(255, 165, 44), rgba(255, 255, 65), rgba(0, 128, 24), rgba(0, 0, 249), rgba(134, 0, 125));
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-social-icons {
    font-size: 1.8rem;
    color: white;
    transition: color 0.5s;
}
.footer-facebook-icon:hover {
    color: #1877f2;
}

.footer-instagram-icon:hover {
    color: #c32aa3;
}

.footer-twitter-icon:hover {
    color: #FFA52C;
}

/* Bootstrap toast */
.toasts {
    position: fixed;
    top: 69px;
    right: 0px;
    z-index: 99999999999;
    width: 300px;
}

.toast-body {
    font-size: 1rem;
}

/* Responsiveness */

@media screen and (max-width: 1200px) {

    .main-nav-links {
        width: 700px;
    }

}

@media screen and (max-width: 1020px) {

    .nav-title {
        font-size: 1.6rem;
    }

    .main-nav-links {
        width: 650px;
    }

    .main-nav-social-list {
        display: none;
    }

    .main-nav-links > li > a {
        font-size: 1rem;
    }

}

@media screen and (max-width: 965px) {

    .nav-link {
        padding: 0;
    }

    .nav-title {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 935px) {

    .nav-link {
        font-size: 1rem;
    }

    .main-nav-links {
        width: 600px;
    }

    .nav-title {
        font-size: 1.4rem;
    }
    
    .nav-social-icons {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 873px) {

    .main-nav-links {
        width: 530px;
    }

}

@media screen and (max-width: 803px) {

    .main-nav {
        display: none;
    }

    #mobile-nav {
        height: 70px;
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        background-color: white;
    }

    .mobile-nav-links {
        position: fixed;
        margin-top: 59px;
        background: linear-gradient(120deg, rgb(255, 165, 44) 60%, rgb(255, 255, 65) 60%);
        width: 100%;
        height: 170px;
        overflow: hidden;
        list-style: none;
        display: none;
    }

    .mobile-nav-link {
        text-decoration: none;
        color:white;
        font-weight: 700;
    }

    #mobile-menu {
        display: none;
    }

    #mobile-menu:checked ~ #mobile-nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mobile-nav-div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-nav-div-left {
        display: flex;
        align-items: center;
    }

    .fa-bars {
        font-size: 1.3rem;
        padding-right: 15px;
    }

    .menu-icon-2 {
        display: none;
    }

    .nav-title {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 300px) {

    .nav-title {
        font-size: 1.2rem;
    }

}
