{% load static %}
<div class="d-flex flex-wrap justify-content-between">
    {% for friend in following %}
        <div class="card flex-row card-width">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <!-- if user has no avatar -->
                <img src="{% static 'profiles/images/default-avatar.png' %}" class="img-fluid d-flex justify-content-center align-items-center mx-auto following-avatar-image" alt="default avatar image of rainbow coloured butterfly">
                <!-- if user has avatar -->
                {% if user.avatar.url is not none %}
                <img src="{{ user.avatar.url }}" class="card-img-top mx-auto main-avatar-image" alt="default avatar image of rainbow coloured butterfly">
                {% endif %}
            </div>
            
            <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                    <h5 class="fs-5 fw-light text-center">{{ friend.following.username }}</h5>
                    <button class="btn btn-primary btn-dark">Unfollow</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>