{% load static %}

<div class="card m-3 border-0 align-items-center">
    {% if user_profile.avatar.url is not none %}
    <img src="{{ user_profile.avatar.url }}" class="card-img-top mx-auto main-avatar-image" alt="user avatar image">
    {% else %}
    <img src="{% static 'profiles/images/default-avatar.png' %}" class="card-img-top mx-auto main-avatar-image" alt="default avatar image of rainbow coloured butterfly">
    {% endif %}
    {% if user_profile_str == user_str %}
    <div class="my-4">
        <a class="text-black" href="{% url 'edit_avatar' request.user.id %}" role="button">
            Edit Avatar
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title text-center fs-4">{{ user_profile }}</h5>
    </div>
    {% else %}
    <div class="card-body">
        <h5 class="card-title text-center fs-4">{{ user_profile }}</h5>
    </div>
    {% endif %}
    {% url 'account_change_password' as password_url %}
    <div class="card-body w-100">
        {% if user_profile_str == user_str %}
        <div class="d-grid gap-2">
            <a href="{% url 'profile' request.user.id %}" class="btn {% if request.path == profile_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Friends</a>
            <a href="{% url 'view_profile_events' request.user.id %}" class="btn {% if request.path == events_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Events</a>
            <a href="{% url 'view_details' request.user.id %}" class="btn {% if request.path == details_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Personal details</a>
            <a href="{% url 'edit_details' request.user.id %}" class="btn {% if request.path == edit_details_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Edit Details</a>
            <a href="{% url 'account_change_password' %}" class="btn {% if request.path == password_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Change Password</a>
        </div>
        {% else %}
        <div class="d-grid gap-2">
            <form method="POST">
                {% csrf_token %}
                {% if following %}
                    <button type="submit" class="btn btn-outline-primary w-100">Following</button>
                {% else %}
                    <button type="submit" class="btn btn-primary w-100">Follow</button>
                {% endif %}
            </form>
            <a href="{% url 'profile' user_profile.user.id %}" class="btn {% if request.path == profile_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Friends</a>
            <a href="{% url 'view_profile_events' user_profile.user.id %}" class="btn {% if request.path == events_url %} btn-primary {% else %} btn-outline-primary {% endif %}" role="button">Events</a>
        </div>
        {% endif %}
    </div>
</div>