.sm-txt > a, .sm-txt {
    font-size: 10px;
}

.arrow {
    padding-right: 5px;
}

.back-link {
    text-decoration: none;
    color: black;
}

.post-img {
    width: 100%;
}

form {
    width: 100%;
    border-radius: 5px;
    background-color: #f3e775;
    border: 0.5px solid #cdcdcd;
    padding: .5rem;
    margin: .5rem;
}

.delete {
    font-size: 10px;
    color: red;
}

.large-icon {
    font-size: 1rem;
}

.posts {
    padding: .5rem;
    margin: 1rem;
}

.post-bor {
    border-top: .5px solid #bf9b9b;
    border-left: .5px solid #bf9b9b;
    border-right: .5px solid #bf9b9b;
    border-radius: 2px;
    background-color: #f3e775;
    display: flex;
    flex-direction: row;
}

.post-bor:last-of-type {
    border-bottom: .5px solid #bf9b9b;
    border-radius: 2px;
  }

.post-container {
    border-radius: 5px;
    height: 100%;
}

.thumb-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-img img{
    display: none;
}

.card-text {
    margin-left: .5rem;
}

.title-anchor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sub-title {
    font-size: 12px;
}

.title-anchor:hover {
    color: #700092;
    font-weight: 500;
}

.no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.view-post {
    background-color: #f3e775;
    border: 0.5px solid #bf9b9b;
    border-radius: 2px;
    padding-bottom: 5px;
    margin-top: 1rem;
    width: 98%;
}

.post-con {
    background-color: white;
    margin-top: .75rem;
    padding: 1rem;
    border: 0.5px solid #bf9b9b;
    border-radius: 2px;
}

strong {
    margin: 12px;
}

@media only screen and (min-width: 500px) {
    .thumb-img > img{
        display: flex;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .post-img {
        width: 60%;
    }
    form {
        width: 60%;
        padding: 1rem;
        margin: 1.5rem;
    }

    .thumb-img {
        display: flex;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .post-img {
        width: 35%;
    }

    form {
        width: 50%;
    }
}

/* Button Style */

.create-btn {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .create-btn:before,
  .create-btn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .create-btn:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .create-btn:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .create-btn:hover:before {
    width: 115%;
    height: 115%;
  }