.post-img {
    width: 100%;
}

main {
    background-color: whitesmoke;
}

.delete {
    font-size: 10px;
    color: red;
}

.large-icon {
    font-size: 1rem;
}

.posts {
    padding: .5rem;
    margin: 1rem;
}

.post-bor {
    border: 1px solid #bf9b9b;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
}

.post-container {
    border-radius: 5px;
    height: 100%;
}

.user {
    text-decoration: none;
    color: black;
}

.thumb-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-img img{
    display: none;
}

.card-text {
    margin-left: .5rem;
}

.no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.view-post {
    background-color: #f3e775;
    border: 0.5px solid #bf9b9b;
    border-radius: 2px;
    padding-bottom: 5px;
    margin-top: 1rem;
    width: 98%;
}

.post-con {
    background-color: white;
    margin-top: .75rem;
    padding: 1rem;
    border: 0.5px solid #bf9b9b;
    border-radius: 2px;
}

.hide {
    display: none;
}

@media only screen and (min-width: 500px) {
    .thumb-img > img{
        display: flex;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .post-img {
        width: 60%;
    }
    .thumb-img {
        display: flex;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .post-img {
        width: 35%;
    }
}