.sm-txt > a, .sm-txt {
    font-size: 10px;
}

.post-img {
    width: 100%;
}

form {
    width: 100%;
    border-radius: 5px;
    background-color: #f3e775;
    border: 0.5px solid #cdcdcd;
    padding: .5rem;
    margin: .5rem;
}

.delete {
    font-size: 10px;
    color: red;
}

.posts {
    padding: .5rem;
    margin: 1rem;
}

.post-bor {
    border-top: .5px solid #bf9b9b;
    border-left: .5px solid #bf9b9b;
    border-right: .5px solid #bf9b9b;
    border-radius: 2px;
    background-color: #f3e775;
    display: flex;
    flex-direction: row;
}

.post-bor:last-of-type {
    border-bottom: .5px solid #bf9b9b;
    border-radius: 2px;
  }

.post-container {
    border-radius: 5px;
    height: 100%;
}

.thumb-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-img img{
    display: none;
}

.card-text {
    margin-left: .5rem;
}

.title-anchor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sub-title {
    font-size: 12px;
}

.title-anchor:hover {
    color: #700092;
    font-weight: 500;
}

.no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

@media only screen and (min-width: 500px) {
    .thumb-img > img{
        display: flex;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .post-img {
        width: 60%;
    }
    form {
        width: 60%;
        padding: 1rem;
        margin: 1.5rem;
    }

    .thumb-img {
        display: flex;
        height: 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .post-img {
        width: 35%;
    }

    form {
        width: 50%;
    }
}