.sm-txt > a, .sm-txt {
    font-size: 10px;
}

.post-img {
    width: 100%;
}

form {
    width: 100%;
    border-radius: 5px;
    background-color: #f3e775;
    border: 0.5px solid #cdcdcd;
}

.delete {
    font-size: 10px;
    color: red;
}

@media only screen and (min-width: 800px) {
    .post-img {
        width: 60%;
    }
    form {
        width: 60%;
    }
}

@media only screen and (min-width: 1000px) {
    .post-img {
        width: 35%;
    }

    form {
        width: 50%;
    }
}