.post-bor {
    border: .5px solid #bf9b9b;
    border-radius: 2px;
    background-color: #f3e775;
    display: flex;
    flex-direction: row;
}

.card-text {
    margin-left: .5rem;
}

.arrow {
    padding-right: 5px;
}

.back-link {
    text-decoration: none;
    color: black;
}

.thumb-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-img img{
    display: none;
}

.no-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.title-anchor {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sub-title {
    font-size: 12px;
}

.title-anchor:hover {
    color: #700092;
    font-weight: 500;
}

@media only screen and (min-width: 500px) {
    .thumb-img > img{
        display: flex;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .thumb-img {
        display: flex;
        height: 100px;
        width: 100px;
    }
}