{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid h-100 whitesmoke-bg">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-11 col-md-9 col-lg-6">
      <div class="text-center my-3 py-3 py-lg-5 bg-white shadow">
        <h1>{% trans "Sign Out" %}</h1>
        
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        
        <form class="py-3" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="create-btn">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
