{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="text-center my-3">
        <h1>My Profile</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 border border-1">
            {% include 'profiles/includes/profile_card.html'%}
        </div>
        <div class="col border border-1">
            <div class="card m-3 border-0">
                <div class="card-body">
                    <div class="card-title fw-bolder text-center h5 mb-3"><i class="fa-solid fa-user-secret me-2"></i></i>Change Password</div>
                    <div class="row">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <button class="create-btn w-50 mt-2 mb-3" type="submit" name="action">{% trans "Change Password" %}</button>
                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
