{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <form method="POST" action="{% url 'create_post' %}" class="form shadow" enctype="multipart/form-data">
        <h1 class="d-block text-center title">Start A Discussion</h1>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success">Post</button>
        </div>
    </form>
</div>

{% endblock %}