{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
    <a href="{% url 'posts' %}" class="back-link"><i class="fa-solid fa-angle-left arrow"></i>Back</a>
</div>

<div class="container d-flex justify-content-center flex-column mb-3 mt-3">
    <!-- FORM -->
    <form method="POST" action="{% url 'edit_post' post.did %}" class="form post-con w-100 mb-2" enctype="multipart/form-data">
        <h1 class="d-block text-center title">Edit A Discussion</h1>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="create-btn">Edit</button>
        </div>
    </form>
    <!-- POST -->
    <div class="post-con w-100">
        <h1 class="fs-4 text-center">{{post.title}}</h1>
        <span class="sm-txt d-block text-center">Posted By: <strong>{{post.user}}</strong> on
            {{post.time}}</span>
        {% if post.image.url is not none %}
        <div class="d-block w-100 text-center">
            <img class="post-img" src="{{post.image.url}}">
        </div>
        {% endif %}

        <p>{{post.body|safe}}</p>   
    </div>
</div>

{% endblock %}