{% extends 'base.html' %}
{% load static %}
{{ form.media }}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center">Confirm Post Deletion</h1>
<div class="d-flex justify-content-center pt-3">
    <form method="post" class="text-center p-5">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}"?</p>
        <input type="submit" value="Confirm" class="btn btn-dark">
    </form>
</div>
{% endblock %}