{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block content %}

{% for post in posts %}

<div class="container mt-2">
    <a onclick="history.back()" class="back-link"><i class="fa-solid fa-angle-left arrow"></i>Back</a>
</div>

<div class="container d-flex justify-content-center flex-column mb-3">
    <!-- Post -->
    <div class="post-bor p-3 mt-2 d-flex flex-column">
        <h1 class="fs-4 text-center">{{post.title}}</h1>

        {% if request.user == post.user %}
        <!-- Delete post -->
        <div class="text-center">
            <span>
                <a href="{% url 'delete_post' post.did %}" class="delete large-icon" aria-label="Click to delete reply">
                    <i class="fa-solid fa-x"></i>
                </a>
            </span>
            <!-- Edit post -->
            <span class="m-2 text-center">
                <a href="{% url 'edit_post' post.did %}" class="delete large-icon" aria-label="Click to edit reply">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </span>
        </div>
        {% endif %}
        <span class="sm-txt d-block text-center">Posted By: <a href="{% url 'profile' post.user.id %}" class="user">
            <strong>{{ post.user }}</strong>
            </a> on {{post.time}}
        </span>
        {% if post.image.url is not none %}
        <div class="d-block w-100 text-center">
            <img class="post-img" src="{{post.image.url}}">
        </div>
        {% endif %}

        <p>{{post.body|safe}}</p>   
    </div>

    <div class="p-2">
        <!-- Replies -->
        {% for reply in replies %}
        <span class="sm-txt">
            <a href="{% url 'profile' reply.user.id %}" class="user">
                <strong>{{ reply.user }}</strong>
            </a> replied on {{reply.time}}</span>
        {% if reply.user == request.user or request.user == is_superuser %}
        <span>
            <!-- Delete reply -->
            <a href="{% url 'delete_reply' reply.pk %}" class="delete" aria-label="Click to delete reply">
                <i class="fa-solid fa-x"></i>
            </a>
        </span>
        <!-- Edit post -->
        <span class="m-2">
            <a href="{% url 'edit_reply' reply.pk %}" class="delete" aria-label="Click to edit reply">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </span>

        {% endif %}
        <p class="p-0 m-0">{{ reply.body|safe }}</p>
        {% endfor %}
        
        <div class="w-25">
            <a class="btn btn-dark" onclick="toggleForm()">Reply</a>
        </div>
    </div>

    <div id="reply" class="hide mt-3">
        <form method="POST" action="{% url 'create_reply' post.did %}"
            class="post-bor d-flex flex-column mb-2 p-3" enctype="multipart/form-data">
            <h1 class="d-block text-center title">Reply to Discussion</h1>
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="create-btn">Submit</button>
            </div>
        </form>
    </div>
    
{% endfor %}

</div>
{% endblock %}

{% block javascript %}
<script>
    function toggleForm() {
        // Toggle hide class on form
        form = document.getElementById('reply');
        form.classList.toggle("hide");

        // scroll to bottom of page where reply form sits
        if (!form.classList.contains('hide')){
            window.scrollTo(0,document.body.scrollHeight);
        }
    }
</script>
{% endblock %}